# # IDENTIFIER//VARIABLE//OBJECT

#Identifier Name=Valu//Variable Name=Vale//Object Name=Value

# Limitations for Identifier
#1.identefier is Case senstive

abc=75
ABC

In [1]:
abc=75
ABC

NameError: name 'ABC' is not defined

#2.identefier Should not star with Digit

In [2]:
1abc=76
1abc

SyntaxError: invalid decimal literal (1429594259.py, line 1)

#2.1 but it can include digits

In [4]:
abc1=66
abc1

66

#3.Identifier Shouldn't contain any   special charecter

In [5]:
ram$=00
ram$

SyntaxError: invalid syntax (2543868378.py, line 1)

#4.it can include"_"

In [7]:
raju_=111
raju_

111

#5.it should not include any Reserved word  r keywards

In [8]:
if=86
if

SyntaxError: invalid syntax (3510065051.py, line 1)

#how to Print Key words in latest version we were having 36 Keywards

In [21]:
import keyword
keyword.kwlist
len(keyword.kwlist)

35

#there no lenght limit for identifier

In [13]:
rajuwenthomeandcamebacktowaork=1111
rajuwenthomeandcamebacktowaork

1111

# Fundamental Data Types In Python

# 1.INT (1)
# 2.Float(1.0)
# 3.Boolean / Bool (True/False)
# 4.Complex(a+bj)
# 5.String('abc')

# 1.INT

#it has no decimal
#INT has two Types

# 1.Binary integral  format (base 2 ,0-1)
# 2.Octal integral Format(base8,0-7)

# 1. Binary

In [26]:
bi=0b1111
bi

15

# 2. Octal

In [27]:
oc=0o27
oc

23

# 2. FLOAT

In [28]:
# it contains decimals(1.0)
#Binary & Octal were not allowed in Float 
#only "E" Expenstional is allowed 
# e

In [29]:
ex=1e0
ex

1.0

In [30]:
ex1=11e0
ex1

11.0

In [31]:
ex2=111e0
ex2

111.0

# 3.BOOL(True/False)

In [32]:
bo1=True
bo1

True

In [33]:
bo2=False
bo2

False

In [35]:
int(bo1)

1

In [36]:
int(bo2)

0

In [37]:
bo3=True/False
bo3

ZeroDivisionError: division by zero

# 4.Complex(a+bj)

In [41]:
# a=real part(can be float,int(bi r Oc))
# b=Imaginary Part
# j=Squre root of -1

In [42]:
c1=10+5j
c1

(10+5j)

In [47]:
#complex with int binary
cb=0b11+6j
cb

(3+6j)

In [48]:
#complex with Int Octal
co=0o26+10j
co

(22+10j)

In [49]:
#complex with float
cf=22.5+6.5j
cf

(22.5+6.5j)

In [50]:
cf1=0.0+0.0j
cf1

0j

# 5.String ('abc')

In [51]:
# string consist of text
st='python'
st

'python'

In [58]:
#usage of single & double coats
st1= 'raju went home an     came back to office     to finish his work raju went home an     came back to office     to finish his workraju went home an     came back to office     to finish his work raju went home an     came back to office     to finish his work raju went home an     came back to office     to finish his work raju went home an     came back to office     to finish his work raju went home an     came back to office     to finish his workraju went home an     came back to office     to finish his work raju went home and     came back to office     to finish his work vraju went home an     came back to office     to finish his work' 

st1

'raju went home an     came back to office     to finish his work raju went home an     came back to office     to finish his workraju went home an     came back to office     to finish his work raju went home an     came back to office     to finish his work raju went home an     came back to office     to finish his work raju went home an     came back to office     to finish his work raju went home an     came back to office     to finish his workraju went home an     came back to office     to finish his work raju went home and     came back to office     to finish his work vraju went home an     came back to office     to finish his work'

# TYPE CASTING //DATA TYPE CONVERSION

# Argument = Parameter
# 1.Other Data Type casting to INT is possible(except Complex).
# 2.Other Data Type casting to FLOAT is possible(except Complex).
# 3.Other Data Type casting to COMPLEX is possible.
# 4.Other Data Type casting to BOOL is possible.
# 5.Other Data Type casting to STRING is possible(if not in Text).

# INT

In [10]:
int(10.0) # float to int

10

In [11]:
int(10+2j)# complex to int is not posiible

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [12]:
int(True) #boolto int

1

In [13]:
int(False)# bool to int

0

In [17]:
int('10') #string to int

10

In [18]:
int('raj')# string if written in text cannont be converted

ValueError: invalid literal for int() with base 10: 'raj'

#  Flaot

In [19]:
float(10) # int to float

10.0

In [20]:
float(19+6j) # complex to flot is not possibel

TypeError: float() argument must be a string or a real number, not 'complex'

In [21]:
float (True) #bool to Float

1.0

In [22]:
float(False)# bool to Float

0.0

In [25]:
float ('10')# string to Float

10.0

In [26]:
float('raj')# string in tex cannton be converted to float

ValueError: could not convert string to float: 'raj'

# Complex

In [27]:
complex(10) #int to complex

(10+0j)

In [28]:
complex(20.05) # float to complex

(20.05+0j)

In [29]:
complex(True) # bool to complex

(1+0j)

In [30]:
complex(False) #bool to complex

0j

In [31]:
complex('26') #string to complex

(26+0j)

In [33]:
complex('rupesh') # string with charecters cannot be changed to complex

ValueError: complex() arg is a malformed string

In [34]:
#conversion of 2 r more Arguments to complex

complex(100,50)# int double arrgument to  complex

(100+50j)

In [36]:
complex(50.9,25.6)# float double arrgument to complex

(50.9+25.6j)

In [37]:
complex(True,False)# bool double to Complex

(1+0j)

In [38]:
complex('10','6')# string double arguments is not possible

TypeError: complex() can't take second arg if first is a string

# Bool
#in bool anything > 0 is consider as True  & < 0 is consider as False

In [39]:
bool(10) #int to Bool

True

In [41]:
bool(0.0)# float to bool
bool(0.001)# Float to bool

True

In [42]:
bool(60+10j) # complex to bool

True

In [45]:
bool('10')# string to bool
bool(' ')# in string with space coats considerd as True
bool('')# in string without space coats considerd as False

False

# String

In [48]:
str(20)#int to string

'20'

In [49]:
str(36.06)# float to String

'36.06'

In [50]:
str(6.9+20.5j)#complex to string

'(6.9+20.5j)'

In [51]:
str(True) # bool to string

'True'

In [52]:
str(False)# bool to string

'False'

In [53]:
str(int(True))

'1'

In [54]:
str(int(False))

'0'

# Functions

# 1.Len - to define the length
# 2.Print - to print the value of the varible
# 3.Type - to define the Data type of the varaible 
# 4.Id - to identify the memory location address of the value

In [59]:
#len
import keyword
keyword.kwlist
len(keyword.kwlist)

35

In [61]:
#Print

p1=65
p1
print(p1)

65

In [65]:
#Type
t1=1.0
t2=1
t3=(10.6j)
t4=(True)
t5=('the')

#type(t1)
#type(t2)
#type(t3)
#type(t4)
#type(t5)

bool

In [67]:
#id
#id(t1)
#id(t2)
#id(t3)
#id(t4)
#id(t5)

1455609747632